html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    background-color:  #FFFFF0;
    vertical-align: middle;
}
* {
   font-family: 'GoMonoRegular';
   font-weight: normal;
   font-style: normal;
}
form {
    border: 2px solid green;
}
